/*custom styles*/
@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');

body{
    background-color:#F4E4F5;
    font-family: 'Asul', sans-serif;
    line-height: 1.33em;
}
h1, h2, h3, h4, h5, p, a, label, button, li{ font-size:1em;}
h1 {font-size: 1.33em;}
h2 {font-size: 1.25em;}
h3 {font-size: 1.15em;}
ul li {text-align: left;}
/* .container {
    margin: 0 0.1em;
} */
button, input, textarea{
    font-family: 'Asul', sans-serif;

}
.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #0F0E11;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
    text-wrap:balance;
}   

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    text-wrap:balance;
}

.showPassBtn{background-color: transparent;border: none;}

.persistCheck {
    font-size: 0.75rem;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.persistCheck label {
    margin: 0;
}

[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin: 0 5px 2px 2px;
}

.btn {
    margin: 10px;
}

.Pager button {
    border: none;
    background-color: transparent;
}

.Pager button.currentPage {
    background-color:#666;
}

.singleRecipe {
    max-width:85%;
    margin: 0 auto 1.25em;
    background-color: #f4e4f5;
    border-radius: 1.5rem;
    box-shadow: #ecceed 4px 4px 8px, #f7f1f7 -1px -1px 8px;
    
    overflow: hidden;
    /* border: 1px solid black; */
}
.singleRecipe h3 {
    margin: .5em .1em;
}
.singleRecipe p {
    margin: .5em .1em;
}
input.missingRequired {border: 1px solid red;}
.missingIcon{color:red;}

.floatingNotificationBar {
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(200, 169, 203, .85);
    width: 100%;
    transition: top ease-in 250ms;
}

.floatingNotificationBar.onscreen {
    top: 4.25em;
}

.floatingNotificationBar p {
    margin: 0;
    padding: 6px 0;
}


fieldset {
    border: 1px solid transparent;
}

fieldset input[type="checkbox"] {
    display: none;
}

fieldset input[type="checkbox"] + label {
    cursor: pointer;
    border-radius: 50px;
    background-color: transparent;
    border: solid 2px #C8A9CB;
    padding: 0.25rem 0.75rem 0.25rem 0.5rem;
    margin: 0.2rem;
    display: inline-block;
    position: relative;
    font-size:0.85rem;
    z-index:1;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


fieldset input[type="checkbox"]:checked + label {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    background-color: #C8A9CB; 
    color: white; 
    border-color:#C8A9CB;
}

fieldset input[type="checkbox"] + label>svg{
    position: relative;
    left: 5px;
    width: auto;
    height: 0.75rem;
    transform: rotate(45deg);
    transition: transform 250ms ease;
}
fieldset input[type="checkbox"]:checked + label>svg{
    transform:rotate(90deg);
}


.creatingMealplan{
    position:sticky;
    bottom:0;
    background-color:rgba(223, 191, 225, .9);
    width:100%;
    overflow:hidden;
    transition: 1s ease-out bottom;
}
.creatingMealplan.inactive {
    bottom: -25vh;
}
.mealplanWrapper{        
    display:flex;
    flex-wrap:nowrap;
    gap:.15rem;
    justify-content:space-between;
    align-items:center;
}

.mealplanRecipeList{
    display:flex;
    flex-wrap:nowrap;
    gap:.15rem;
    max-width:75%;
    overflow-x:auto;
}

.recipeCircle{
    height:50px;
    width:50px;
    /* background-color:black; */
    border-radius:100%;
    overflow:hidden;
    flex-shrink:0;
    flex-grow:0;
    margin-bottom: 10px;
}
.recipeCircle img {
    width: 100%;
}
.recipeCircle svg.placeholderRecipeImage {
    width: 75%;
    height: 100%;
    /* color:#b667bb; */
}
.MealPlanRecipeOuterWrapper {
    position: relative;
    padding: 7px;
}

.MealPlanRecipeOuterWrapper .removeThisRecipe {
    position: absolute;
    top: 0;
    right: 0;
    color:black;
    transition:color 250ms ease-out;
}

.MealPlanRecipeOuterWrapper .removeThisRecipe:hover {
    color:red;
    cursor: pointer;
}
.meaplanSaveWrapper button{margin-bottom:10px;}

/*navigation and headers*/

header {
    display: flex;
    justify-content: space-between;
    padding: 0.75em 0.5em;
    align-items: center;    
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #F4E4F5;
    box-shadow:2px 2px 6px #ead6eb;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 45px 0 0;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgba(244, 228, 245, .9);
    width: 100%;
    height: 100%;
    transition: right ease 250ms;
    overflow:hidden;
    z-index:5;
}

nav li .active {
    background-color: #F4E4F5;
    box-shadow: 2px 2px 6px #d8bdd9;
}
.logo {
    max-width: 75%;
}
.logo img {
    width: 100%;
    max-width:250px;
}
nav ul li a {
    color: #0F0E11;
    text-decoration: none;
    font-size: 1.5em;
    padding: .5em .5em;
    display: block;
    text-align: center;
}
nav ul.shown {
    right: 0;
}
.menuButton {
    position: absolute;
    top: 0.75em;
    right: 0.5em;
    height: 35px;
    width: 35px;
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menuButton span {
    background-color: black;
    width: 100%;
    height: .2em;
    display: block;
    border-radius: 2px;
    position:relative;
    transition:all ease 350ms;

}
.menuButton span:nth-child(1) {
    width:100%;
    top: -5px;
}
.menuButton span:nth-child(2) {
    width:85%;
}
.menuButton span:nth-child(3) {
    width:70%;
    top: 5px;
}
.close.menuButton span:nth-child(1) {
    rotate:45deg;
    top:3px;
}
.close.menuButton span:nth-child(2) {
    width:100%;    
    rotate:45deg;
    opacity:0;
}
.close.menuButton span:nth-child(3) {
    width:100%;
    rotate:-45deg;
    top:-3px;
}

/*navigation and headers*/

form.FilterForm {
    margin: 10px;
}
footer{padding:0.75em 0.5em;}


.recipeImgWrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
    max-height: 200px;
    align-items: center;
}

.recipeImgWrapper img {
    width: 100%;
    height: auto;
    display: block;
}

.singleRecipe .BTNS {
    padding: 0 8px 8px;
}

.recipeFiltersRow {
    margin-bottom: .25em;
}

button {
    background-color: #FEFDDC;
    color: #000;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    transition: all ease 250ms;
    font-size:1em;
    padding: 0.15em 0.33em;
}

button:hover {
    background-color: #FCF9A7;
}

input[type=text], input[type=password], input[type=email] {
    background-color: #dfbfe1;
    border: 1px solid black;
    color: #000;
    line-height: 1.5em;
    margin: 0.25em 0.33em;
}

.meaplanSaveWrapper {
    margin-right: 0.75em;
}
.recipeFiltersRow button {
    margin: 0 0.25em;
    padding: 0.13em 0.4em;
}
.recipeFiltersRow .input-group input {
    width: 96%;
    margin: .75em 0;
    font-size:.9em;
}
.singleRecipe .BTNS button {
    margin: .5em;
}
button svg {
    color: #b667bb;
}

a {
    color: #b667bb;
}

section.recipesList {
    margin-top: 1.25em;
}
.UserDataRow {
    margin-bottom: .75em;
}

.UserDataRow button {
    margin-left: .25em;
}

.UserDataRow input {
    margin-left: .25em;
}

.floatingNotificationBar button {
    margin-left: .5em;
}

.ManageRecipeWrapper {
    margin-top: 10px;
}

p img {
    max-width: 100%;
    max-height: 300px;
}
.RecipePageLinks a {
    padding: .25em;
}

ol {
    list-style-position: inside;
    padding-left: 0;
}
.allInstructionsList ol textarea {
    width: 75%;
}

.ingredientRow {
    margin: 1.25em 0;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
}
/* .ingredientRow input {
    width: 65%;
} */

.ingredientsBulletList li {
    text-align: left;
}

.instructionsOrderedList li {
    text-align: left;
}

ul.ingredientsBulletList, ol.instructionsOrderedList {
    list-style-position: inside;
    padding-left: 0;
    margin: 0 0.75em 1em;
}

ul.ingredientsBulletList li, ol.instructionsOrderedList li {
    padding-bottom: .33em;
}



.ingredientInputWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ingredientinputLine {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.allInstructionsList li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    gap: 1em;
}

p.LoadingText {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0.1em;
}

.fullRecipePage p {
    margin-left: 0.75em;
    margin-right: 0.75em;
}

p.smallNoMargin {
    margin: 0 0;
    font-size: 1em;
}

@media (min-width: 768px){
    body{line-height:1.5em;}
    h1, h2, h3, h4, h5, p, a, label, button, li {font-size: 1.2em;   }
    p a{font-size: 1.15em;}
    h1 {font-size: 1.88em;}
    h2 {font-size: 1.75em;}
    h3 {font-size: 1.6em;}
    p {line-height: 1.5em;}
    button, input, textarea{font-size:1.15em;}
    p button, p input, p textarea{font-size:1em;}
    .recipeFiltersRow .input-group input{font-size: 1.15em;}
    fieldset input[type="checkbox"] + label {font-size: 1.33em;}
    fieldset input[type="checkbox"] + label>svg {height: 1.15rem;}
    button {font-size: 1.33em;}    

    .formRow {
        display: flex;
        justify-content: center;
        align-items: center;
        margin:1em .75em;
        gap: .33em;
    }

    ul.ingredientsBulletList li, ol.instructionsOrderedList li {padding-bottom: 0.5em;}

    section.recipesList, .skeletonOuterWrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }    
    .singleRecipe {
        max-width: 45%;
    }    
    .skeletonOuterWrapper .singleRecipe {
        width: 45%;
    }  
    .singleRecipe p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin: 0.5em 0.33em;
    } 
    
    .instructions {
        font-size: 1em;
        bottom: 0;
    } 
}


@media (min-width: 1280px){
  
    .singleRecipe {
        max-width: 31%;
    }    
    .skeletonOuterWrapper .singleRecipe {
        width: 31%;
    }  

    .recipeFiltersRow .input-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap:.25em;
    }
    .recipeFiltersRow button{margin: 0 0;}
    
    .recipeFiltersRow .input-group label {
        text-wrap: nowrap;
    }
    .recipeFiltersRow .input-group input{width:500px;}

    .aboutSection {margin: 0 0.5em;text-align:left;}
    .aboutSection img{display:block;margin:0 auto;}
    .container {
        max-width: 1220px;
        margin: 0 auto;
    }

    header {padding: 0.75em 30px;}
    .menuButton {right: 30px;}
    nav ul.shown {
        right: auto;
    }
    
    nav ul {
        right: auto;
        position: relative;
        display: flex;
        justify-content: flex-end;
        padding: 0 0;
    }
    
    ul li {
        font-size: 1em;
    }
    
    nav ul li a {
        font-size: 1.1em;
    }
    
    nav li .active {
        background-color: transparent;
        box-shadow: 0 0 0 transparent;
        border-bottom: 2px solid #d8bdd9;
    }
    
    .menuButton {
        display: none;
    }

    .ingredientInputWrapper {
        flex-direction: row;
        gap: 1em;
    }
}